.card_container{
    width: 400px;
    height: 350px;
    transition: .3s all ease;
}

.img_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 230px;
}

.img_container img{
    width: 100%;
    height: 100%;
}

.card_info span{
    display: flex;
    gap: 10px;
}


.model_type{
    color: gray;
}

.model_name{
    font-weight: bolder;
}

.car_bodytype{
    font-size: 12px;
    margin-bottom: 10px;
    color: gray;
}

.options{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.options a{
    color: #4373A9;
    text-decoration: none;
    font-weight: 600;
}